<h1>Bonjour</h1>

<p>
    Veuillez confirmez votre adresse mail sur le lien ci-dessous <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer l'adresse mail</a>.
    Ce lien expira dans {{ expiresAt|date('g') }} heure.
</p>

<p>
    L'équipe Rythme Danse
</p>
