{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/accueil.css') }}"> {% endblock %}
{% block body %}

<div class="presentation">
    <h2>Présentation de l'association</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, suscipit, aperiam tempora a cupiditate, quas deleniti repudiandae eligendi enim dicta maiores blanditiis veritatis incidunt fugiat sint tempore quam harum sunt?
    Iusto soluta earum dolorum illum accusantium ex eos temporibus placeat, labore fugit ipsam. Quidem, aut qui. Itaque perferendis aperiam eveniet, vel sed ipsa. Voluptatibus, sint. Soluta quis necessitatibus accusantium doloribus.
    Minus deserunt repudiandae et quisquam sunt distinctio tempore amet, culpa laboriosam quod rerum non? Soluta veritatis accusamus ratione modi deleniti qui aut, consectetur culpa quasi. Cum illo adipisci eligendi nisi.
    Tenetur molestiae consequatur quos perspiciatis mollitia impedit? Asperiores sed provident aperiam aliquam consequuntur ab quo vero atque aspernatur enim. Omnis cupiditate nulla eum voluptas libero similique iure soluta ut delectus.
    Vitae ea necessitatibus esse accusantium? Enim ipsum aliquam, fuga culpa asperiores doloremque nisi consequuntur impedit harum, minus repudiandae molestias vero sit nobis voluptate iusto tenetur ipsa quod at id doloribus.</p>
</div>
{% endblock %}

