<!DOCTYPE html>
<html lang="fr">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rythme Danse</title>
</head>
    
<body>
    <section>
        <div>
            <img src="" alt="">
        </div>
        
    </section>
    <img src="../../public/assets/images/rythme_danse.jpeg" alt="">
    <article>
        <h2>Eveil</h2>
        <button>Description</button>
    </article>
    <article>
        <h2>Classique et pointes</h2>
        <button>Description</button>
    </article>
    <article>
        <h2>Contemorain</h2>
        <button>Description</button>
    </article>
    <article>
        <h2>Modern Jazz</h2>
        <button>Description</button>
    </article>
    <article>
        <h2>FTP</h2>
        <button>Description</button>
    </article>
    <article>
        <h2>Fly Yoga</h2>
        <button>Description</button>
    </article>
    <article>
        <h2>Ragga</h2>
        <button>Description</button>
    </article>
    <article>
        <h2>TBC Avalanche</h2>
        <button>Description</button>
    </article>
    <article>
        <h2>Hip-Hop</h2>
        <button>Description</button>
    </article>
    
</body>
</html>