/*
* body
*/
.presentation{
    border: 2px solid #94becf;
    border-radius: 10px 2px 10px 2px;
    box-shadow: 1px 1px 1px 1px #94becf;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

h2{
    text-align: center;
    text-transform: capitalize;
}

p{
    margin-left: 20px;
    margin-right: 20px;
}
