/*
* Page principal pour les cours
*/
.card{
    background-color: #8A3C54;
}

button{
    border-radius: 15px;
    background-color: rgb(232, 235, 251);
}

.dropdown-item{
    font-family: 'Berkshire Swash', cursive;
}

/*
* Page pour le cours classique
*/


h2{
    font-family: 'Berkshire Swash', cursive;
    color: rgb(232, 235, 251);
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}


p{
    color: white;
}