/*
* Page principal pour les cours
*/


/*
* Page pour le cours de classique
*/
p{
    margin-left: 20px;
    margin-right: 20px;
}

@media all and (max-width: 1024px){
    .cours{
        flex-wrap: wrap;
    }
}