/**
*   Page Equipe Artistique
*/

h2{
    font-family: 'Berkshire Swash', cursive;
}

/*
*   Page de Tchad
*/
section{
    display: flex;
    justify-content: center;
    border: 2px solid #3c8a72;
    border-radius: 20px 20px 20px 20px;
    background-color: #3c8a72;
}

div>img{
    width: 50%;
    margin-left: 20px;
    margin-top: 20px;
}

.intro{
    margin-right: 20px;
}



/**
*   Page Equipe Administratif
*/
.card{
    text-align: center;
    background-color: #8A3C54;
}

.la-user-tie{
    font-size: 10em;
}

i{
    margin-top: 20px;
    font-size: 60px;
}
