/**
*   Page Equipe Artistique
*/

h2{
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}

p{
    color: white;
}

/*
*   Page de Tchad
*/

/*
.tchad{
    max-width: 30%;
    margin-left: 100px;
    margin-top: 50px ;
}


*/
/*
*   Page d'isabelle
*/
.isabelle{
    max-width: 30%;
    margin-left: 100px;
    margin-top: 50px ;
}

.element1{
    margin-top: -450px;
    color: white;
    margin-left: 50%;
    margin-right: 50px;
}

/**
*   Page Equipe Administratif
*/
.card{
    text-align: center;
    background-color: #8A3C54;
}

.la-user-tie{
    font-size: 10em;
}

i{
    margin-top: 20px;
    font-size: 60px;
}

