/****
* Affichage de la bare de progression
*/
#progress{
    background-color: #8A3C54;
    height: 3px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

html{
    scroll-behavior: smooth;
}

header, body{
    background-color: #3c8a72;
}

.navbar{
    background-color: #8A3C54;
}

#navbarNavDropdown{
    margin-top: 15px;
    margin-bottom: 15px;
}

nav{
    font-family: 'Berkshire Swash', cursive;
}

img{
    width: 60%;
    height: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1{
    font-size: 6em;
    text-align: center;
    position: relative;
    font-family: 'Berkshire Swash', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#fafafa;
}

p{
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: cursive;
    text-align: center;
}


/* footer */
footer>div {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.fin{
    margin-left: 20px;
    margin-top: 20px;
}

footer{
    background-color: #8A3C54;
    color: white;
    margin-bottom: 0px;
}

footer>div i {
    font-size: 3.5em;
    margin-left: 20px;
}

footer>div a:nth-child(1) {
    color: #046ee5
}

footer>div a:nth-child(2) {
    color: #934bc8;
}

footer>div a:nth-child(3) {
    color: #ff0000;
}