{% extends 'users.html.twig' %}

{% block title %}Rythme Danse{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<table class="table table-bordered ">
	<h1>Tarifs de l'année</h1>

		<tbody>
			<th scope="row"></th>
			<td colspan="2" class="text-white">Enfants/Etudiants</td>
			<td class="text-white">Adultes</td>
			</tr>
			<th scope="row" class="text-white">2 cours</th>
			<td colspan="2" class="text-white">46,50€/mois soit465€/an <a class="btn btn-dark" href="{{ path('2courspayment_enfant') }}" role="button">Accéder à ce tarif</a></td>
			<td class="text-white">56€/mois soit 560€/an <a class="btn btn-dark" href="{{ path('2courspayment_adulte') }}" role="button">Accéder à ce tarif</a></td>
			</tr>
		</tbody>
	</table>

    
{% endblock %}

{% block javascripts %}{% endblock %}