{% extends 'users.html.twig' %}

{% block title %}Rythme Danse{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<table class="table table-bordered ">
	<h1>Tarifs de l'année</h1>

		<tbody>
			<th scope="row"></th>
			<td colspan="2" class="text-white">Enfants/Etudiants</td>
			<td class="text-white">Adultes</td>
			</tr>
			<th scope="row" class="text-white">4 cours</th>
			<td colspan="2" class="text-white">72,5€/mois soit 725€/an</td>
			<td><a class="btn btn-dark" href="{{ path('4courspayment_enfant') }}" role="button">Accéder à la description</a></td>
			<td class="text-white">94,50€/mois soit 945€/an</td>
			<td><a class="btn btn-dark" href="{{ path('4courspayment_adulte') }}" role="button">Accéder à la description</a></td>
			</tr>
		</tbody>
	</table>

    
{% endblock %}

{% block javascripts %}{% endblock %}