{% extends 'users.html.twig' %}

{% block title %}Rythme Danse{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<table class="table table-bordered ">
	<h1>Tarifs pour 4 cours</h1>

		<tbody>
			<th scope="row"></th>
			<td colspan="2" class="text-white">Enfants/Etudiants</td>
			
			</tr>
			<th scope="row" class="text-white">4 cours</th>
			<td colspan="2" class="text-white">72€/mois soit 725€/an <button id="checkout-button">Accéder au paiemment</button></td>
			
			</tr>
		</tbody>
	</table>

    
{% endblock %}

{% block javascripts %}
{# Appel à l'API de stripe #}
    <script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
	  // Changer la clé publique ici
      var stripe = Stripe('pk_test_51HtCJ1JN4HFVflDjk4WQObKMoWYGnein0Z3pnWdxGmh1ZJA749dxQZQ6TUjzm00rm8ywQ1qkxbrtdkkyJcEDmE9E00C1pSPFrD');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/4cours_enfant', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
    </script>
{% endblock %}