{% extends 'base.html.twig' %}

{% block title %}Rythme Danse
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

	<p class="text-white ml-5 mr-5">Le règlement de la cotisation annuelle vous sera demandé dès le 1er mois. Vous pourrez choisir le nombre de chèques (maximum 10) et les dates d’encaissement.Vous pouvez régler en espèces, chèques, Chèques Vacances ANCV, coupons sports, chèques sport Actobi,aide à la pratique sportive du CDOS du Lot ou directement obtenir un compte rythme danse pour effetuer le réglement via le site.</p>

	<p class="text-white ml-5 mr-5">Pour le fly yoga, s’ajouteront 20€à la cotisation annuelle pour le prêt du hamac toute l’année, sauf si vous en possédez un.</p>

	<table class="table table-bordered ">
	<h1>Tarifs de l'année</h1>

		<tbody>
			<th scope="row"></th>
			<td colspan="2" class="text-white">Enfants/Etudiants</td>
			<td class="text-white">Adultes</td>
			</tr>
			<th scope="row" class="text-white">Eveil</th>
			<td colspan="2" class="text-white">21,5€/mois soit 215€/an</td>
			<td></td>
			</tr>
			<th scope="row" class="text-white">1 cours</th>
			<td colspan="2" class="text-white">29€/mois soit 290€/an</td>
			<td class="text-white">35€/mois soit 350€/an</td>
			</tr>
			<th scope="row" class="text-white">2 cours</th>
			<td colspan="2" class="text-white">46,50€/mois soit465€/an</td>
			<td class="text-white">56€/mois soit 560€/an</td>
			</tr>
			<th scope="row" class="text-white">3 cours</th>
			<td colspan="2" class="text-white">61€/mois soit 610€/an</td>
			<td class="text-white">73,50€/mois soit 735€/an</td>
			</tr>
			<th scope="row" class="text-white">4 cours</th>
			<td colspan="2" class="text-white">72,5€/mois soit 725€/an</td>
			<td class="text-white">94,50€/mois soit 945€/an</td>
			</tr>
		</tbody>
	</table>

	<p class="mx-auto" style="width: 320px;">
		<a class="text-white" href="{{ asset('assets/images/tarifs_rythme_danse.pdf') }}" target="_blank">Pour consulter les tarifs en pdf cliquez ici</a>
	</p>

{% endblock %}
