{% extends 'users.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Votre réglement à bien été effectuer</h1>
    <a href="{{ path('accueil')}}">retour à l'accueil</a>
{% endblock %}