{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/planning.css') }}">{% endblock %}

{% block body %}
<h1>Planning de l'année</h1>

    <div>
        <a href="{{ asset('assets/images/tarifs_rythme_danse.pdf') }}" target="_blank">Pour consulter le planning cliquez ici</a>
    </div>

{% endblock %}
