{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<h1>Planning de l'année</h1>

    <div class="mx-auto mt-5 mb-5" style="width: 300px;">
        <a class=" mt-3 text-white" href="{{ asset('assets/images/planning_rythme_danse.pdf') }}" target="_blank">Pour consulter le planning cliquez ici</a>
    </div>

{% endblock %}
