{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/equipe.css') }}">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
{% endblock %}
{% block body %}

    <h1>Equipe Administratif</h1>

<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <i class="las la-user-tie"></i>
      <div class="card-body">
        <h5 class="card-title">Justine</h5>
        <p class="card-text">Présidente de l'association</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{{ asset('assets/images/isa.jpg') }}" alt="isabelle">
      <div class="card-body">
        <h5 class="card-title">Isabelle Farnault</h5>
        <p class="card-text">Secrétaire / Comptable</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{{ asset('assets/images/tchad.jpg') }}" alt="tchad">
      <div class="card-body">
        <h5 class="card-title">Tchad</h5>
        <p class="card-text">Equipier administratif</p>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}
