{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/equipe.css') }}">{% endblock %}
{% block body %}

<div class="card mx-auto mt-3" style="width: 18rem;">
  <img src="{{ asset('assets/images/isa.jpg') }}" alt="isabelle">
  <div class="card-body mx-auto">
    <h5 class="card-title mx-auto">Présidente</h5>
    <p class="card-text mx-auto">Justine</p>
  </div>
</div>

<div class="card mx-auto mt-3" style="width: 18rem;">
  <img src="{{ asset('assets/images/isa.jpg') }}" alt="isabelle">
  <div class="card-body mx-auto">
    <h5 class="card-title mx-auto">Directrice Artistique</h5>
    <p class="card-text mx-auto">Isabelle Farnault</p>
  </div>
</div>

<div class="card mx-auto mt-3" style="width: 18rem;">
  <img src="{{ asset('assets/images/tchad.jpg') }}" alt="tchad">
  <div class="card-body mx-auto">
    <h5 class="card-title mx-auto">Assistant Polyvalent</h5>
    <p class="card-text mx-auto">Tchad</p>
  </div>
</div>
{% endblock %}
