{% extends 'base.html.twig' %}

{% block title %}Rythme Danse
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/equipe.css') }}">
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
{% endblock %}
{% block body %}

	<h1>Equipe Administratif</h1>

	<div class="row row-cols-1 row-cols-md-3 mr-2 ml-2">
		<div class="col mb-4 mt-4">
			<div
				class="card">
				{#<img src="..." class="card-img-top" alt="...">#}
				<i class="las la-user-tie text-white"></i>
				<div class="card-body">
					<h5 class="card-title text-white">Présidente de l'association</h5>
					<p class="card-text mt-0 text-white">Justine Espinasse </p>
				</div>
			</div>
		</div>
		<div class="col mb-4 mt-4">
			<div
				class="card">
				{#<img src="..." class="card-img-top" alt="...">#}
				<i class="las la-user-tie text-white"></i>
				<div class="card-body">
					<h5 class="card-title text-white">Vice Présidente</h5>
					<p class="card-text mt-0 text-white">Severine Lafargue</p>
				</div>
			</div>
		</div>
		<div class="col mb-4 mt-4">
			<div
				class="card">
				{#<img src="..." class="card-img-top" alt="...">#}
				<i class="las la-user-tie text-white"></i>
				<div class="card-body">
					<h5 class="card-title text-white">Trésorière </h5>
					<p class="card-text mt-0 text-white">Martine Farnault</p>
				</div>
			</div>
		</div>
		<div class="col mb-4 mt-4">
			<div
				class="card">
				{#<img src="..." class="card-img-top" alt="...">#}
				<i class="las la-user-tie text-white"></i>
				<div class="card-body">
					<h5 class="card-title text-white">Trésorière adjointe</h5>
					<p class="card-text mt-0 text-white">Gaelle Leboutiller</p>
				</div>
			</div>
		</div>
		<div class="col mb-4 mt-4">
			<div
				class="card">
				{#<img src="..." class="card-img-top" alt="...">#}
				<i class="las la-user-tie text-white"></i>
				<div class="card-body">
					<h5 class="card-title text-white">Secrétaire</h5>
					<p class="card-text mt-0 text-white">Elodie Fau</p>
				</div>
			</div>
		</div>
		<div class="col mb-4 mt-4">
			<div
				class="card">
				{#<img src="..." class="card-img-top" alt="...">#}
				<i class="las la-user-tie text-white"></i>
				<div class="card-body">
					<h5 class="card-title text-white">Vice Présidente</h5>
					<p class="card-text mt-0 text-white">Severine Lafargue</p>
				</div>
			</div>
		</div>
		<div class="col mb-4 mt-4">
			<div
				class="card">
				{#<img src="..." class="card-img-top" alt="...">#}
				<i class="las la-user-tie text-white"></i>
				<div class="card-body">
					<h5 class="card-title text-white">Membre du CA</h5>
					<p class="card-text mt-0 text-white">Chalabi Liliane</p>
				</div>
			</div>
		</div>
		<div class="col mb-4 mt-4">
			<div
				class="card">
				{#<img src="..." class="card-img-top" alt="...">#}
				<i class="las la-user-tie text-white"></i>
				<div class="card-body">
					<h5 class="card-title text-white">Membre du CA</h5>
					<p class="card-text mt-0 text-white">Bayol Valérie</p>
				</div>
			</div>
		</div>
		<div class="col mb-4 mt-4">
			<div
				class="card">
				{#<img src="{{ asset('assets/images/isa.jpg') }}" alt="isabelle">#}
				<i class="las la-user-tie text-white"></i>
				<div class="card-body">
					<h5 class="card-title text-white">Membre du CA</h5>
					<p class="card-text mt-0 text-white">Lachaud Peggy</p>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
