{% extends 'base.html.twig' %}

{% block title %}Rythme Danse
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/equipe.css') }}">
{% endblock %}

{% block body %}

	<div class="d-flex bd-highlight">
		<div class="p-2 w-100 bd-highlight ">
			<div class="mx-auto" style="width: 300px;"><h2 class="text-white mt-4 ">Tchad Mikael Rocle</h2></div>
			<img class="tchad rounded" src="{{ asset('assets/images/tchad.jpg') }}" alt="tchad">
		</div>
		
		<div class="intro p-2 w-100 bd-highlight sm-auto">
			<p class="mb-0 sm-auto">Originaire de la Réunion, Tchad s'interesse aux arts corporels et pratique la danse en autodidacte.</p>
				
			<p class="mt-0 sm-auto">Repéré par Vandetta Mathéa en 2002, il donne ses premiers cours à la Manufacture d'Aurillac (15) tout en terminant ses études en BTS agro-alimentaire. Il y enseignera prendant 12 ans.</p>	
				
			<p class="sm-auto">Il développe sa propre pédagogie, intervenant sur presque tout les terrains, du hip-hop à la salsa en passant par le développement personnel par le corps, sans oublier sa fonction de formateur et de jury pour l'EAT et le diplôme d'Etat. Il devient très vite une interface incontournable entre la Manufacture et les partenaires départementaux et nationaux.</p>	
				
			<p>	Il est à l'initiative de plusieurs projets comme "Les Freezes d'Aurillac ou encore "Les Terres de Talnac". Il lance ses premiers solos d'improvisation et crée ses chorégraphies de groupe pour divers événements: Quadrichromie, Les 36 heures de la Danse, le Festval d'Aurillac, Sessions Volcaniques. Sa réputation le porte sur les routes de France ainsi qu'à New York (Berkeley Caroll School) pour dispenser cours et stages.</p>
				
			<p>Dès 2003 et en parallèle de la danse, il travaille sur des musiques destinées aux solos et ballets pour l'ensemble de la Manufacture et signe diverses créations musicales pour la Compagnie Professionnelle Vandetta Mathéa, notamment pour Homm-annimal et Watersoul.</p>	
				
			<p>Toujours en 2003, il remporte le premier prix, à l'unanimité, au concours national pour son solo d'improvisation "NAISSANCE".</p>	
				
			<p>	Son premier atelier chorégraphique remporte le 1er prix avec félicitations du jury au concours régional pour "LACRIMOSA"</p>
				
			<p>Il reçoit également un 2eme prix régional en solo contemporain</p>	
				
			<p>Il est actuellement professeur à Rythme Danse depuis 2011, ainsi que Brive-la-Gaillarde (19) et donne des stages partout en France.</p>	
		</div>
	</div>	
</div>


{% endblock %}
