{% extends 'base.html.twig' %}

{% block title %}Rythme Danse
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/equipe.css') }}">
{% endblock %}

{% block body %}
	<div class="card">
		<h2 class="card-title mt-3 mb-3">Tchad Mikael Rocle</h2>
		<img class="rounded" src="{{ asset('assets/images/tchad.jpg') }}" alt="tchad">
		<div>
			<p class="card-text mt-0 mb-0 text-white text-right">Originaire de la Réunion, Tchad s'interesse aux arts corporels et pratique la danse en autodidacte.</p>
			<p class="card-text mt-0 mb-0 text-white text-right">Repéré par Vandetta Mathéa en 2002, il donne ses premiers cours à la Manufacture d'Aurillac (15) tout en terminant ses études en BTS agro-alimentaire. Il y enseignera prendant 12 ans.</p>
			<p class="card-text mt-0 mb-0 text-white text-right">Il développe sa propre pédagogie, intervenant sur presque tout les terrains, du hip-hop à la salsa en
																		                passant par le développement personnel par le corps, sans oublier sa fonction de formateur et de jury
																		                pour l'EAT et le diplôme d'Etat. Il devient très vite une interface incontournable entre la Manufacture
																		                et les partenaires départementaux et nationaux.</p>
			<p class="card-text mt-0 mb-0 text-white text-right">Il est à l'initiative de plusieurs projets comme "Les Freezes d'Aurillac ou encore "Les Terres de
																		                Talnac". Il lance ses premiers solos d'improvisation et crée ses chorégraphies de groupe pour divers
																		                événements: Quadrichromie, Les 36 heures de la Danse, le Festval d'Aurillac, Sessions Volcaniques. Sa
																		                réputation le porte sur les routes de France ainsi qu'à New York (Berkeley Caroll School) pour dispenser
																		                cours et stages.</p>
			<p class="card-text mt-0 mb-0 text-white text-right">Dès 2003 et en parallèle de la danse, il travaille sur des musiques destinées aux solos et ballets pour
																		                l'ensemble de la Manufacture et signe diverses créations musicales pour la Compagnie Professionnelle
																		                Vandetta Mathéa, notamment pour Homm-annimal et Watersoul.</p>
			<p class="card-text mt-0 mb-0 text-white text-right">Toujours en 2003, il remporte le premier prix, à l'unanimité, au concours nationalpour son solo
																		                d'improvisation "NAISSANCE".</p>
			<p class="card-text mt-0 mb-0 text-white text-right">Son premier atelier chorégraphique remporte le 1er prix avec félicitations du jury au concours régional
																		                pour "LACRIMOSA"</p>
			<p class="card-text mt-0 mb-0 text-white text-right">Il reçoit également un 2eme prix régional en solo contemporain</p>
			<p class="card-text mt-0 mb-0 text-white text-right">Il est actuellement professeur à Rythme Danse depuis 2011, ainsi que Brive-la-Gaillarde (19) et donne des
																		                stages partout en France.</p>
		</div>
	</div>

	{# code fais maison #}

	<section>
    <div class="contenu">
		<div>
			<img class="rounded" src="{{ asset('assets/images/tchad.jpg') }}" alt="tchad">
		</div>

		<div class="intro">
			<p>Originaire de la Réunion, Tchad s'interesse aux arts corporels et pratique la danse en autodidacte.</p>
			<p>Repéré par Vandetta Mathéa en 2002, il donne ses premiers cours à la Manufacture d'Aurillac (15) tout en terminant ses études en BTS agro-alimentaire. Il y enseignera prendant 12 ans.</p>
			<p>Il développe sa propre pédagogie, intervenant sur presque tout les terrains, du hip-hop à la salsa en
																		                passant par le développement personnel par le corps, sans oublier sa fonction de formateur et de jury
																		                pour l'EAT et le diplôme d'Etat. Il devient très vite une interface incontournable entre la Manufacture
																		                et les partenaires départementaux et nationaux.</p>
			<p>Il est à l'initiative de plusieurs projets comme "Les Freezes d'Aurillac ou encore "Les Terres de
																		                Talnac". Il lance ses premiers solos d'improvisation et crée ses chorégraphies de groupe pour divers
																		                événements: Quadrichromie, Les 36 heures de la Danse, le Festval d'Aurillac, Sessions Volcaniques. Sa
																		                réputation le porte sur les routes de France ainsi qu'à New York (Berkeley Caroll School) pour dispenser
																		                cours et stages.</p>
			<p>Dès 2003 et en parallèle de la danse, il travaille sur des musiques destinées aux solos et ballets pour
																		                l'ensemble de la Manufacture et signe diverses créations musicales pour la Compagnie Professionnelle
																		                Vandetta Mathéa, notamment pour Homm-annimal et Watersoul.</p>
			<p>Toujours en 2003, il remporte le premier prix, à l'unanimité, au concours nationalpour son solo
																		                d'improvisation "NAISSANCE".</p>
			<p>Son premier atelier chorégraphique remporte le 1er prix avec félicitations du jury au concours régional
																		                pour "LACRIMOSA"</p>
			<p>Il reçoit également un 2eme prix régional en solo contemporain</p>
			<p>Il est actuellement professeur à Rythme Danse depuis 2011, ainsi que Brive-la-Gaillarde (19) et donne des
																		                stages partout en France.</p>
		</div>
        </div>
	</section>

{% endblock %}
