{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/cours.css') }}">{% endblock %}
{% block body %}

<img src="{{ asset('assets/images/classique.png') }}" alt="classique">

    <div class="mx-auto mt-4" style="width: 200px;">
        <h2>CLASSIQUE ET POINTES</h2>
    </div>
    
    <div class="mx-auto mt-4" style="width: 200px;">
        <p>La danse classique est un style apparu dans les époques monarchiques. En France, Louis XIV officialisa la pratique du ballet en créant, en 1661, l'Académie Royale de Danse. On peut dire que la danse classique est une base fondamentale pour la pratique d'autres styles.</p>
        <p>En effet, elle exige de la souplesse mais aussi un contrôle de son corps afin d’avoir des gestes et des déplacements précis, et pouvoir communiquer l'émotion que l'on souhaite partager.</p>
    </div>

{% endblock %}