{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/cours.css') }}">{% endblock %}
{% block body %}

<div class="cardi mb-2 mx-auto">
  <div class="row mx-auto">
    
        <img src="{{ asset('assets/images/classique.png') }}" alt="classique" class="mt-5 mx-auto ">
 
    <div class="col mr-5 ">
      <div class="card-body ">
        <h2>Classique</h2>
        <p class="card-text">La danse classique est un style apparu dans les époques monarchiques. En France, Louis XIV officialisa la pratique du ballet en créant, en 1661, l'Académie Royale de Danse. On peut dire que la danse classique est une base fondamentale pour la pratique d'autres styles.</p>
        <p class="card-text">En effet, elle exige de la souplesse mais aussi un contrôle de son corps afin d’avoir des gestes et des déplacements précis, et pouvoir communiquer l'émotion que l'on souhaite partager.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}