{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}

{% block body %}
    <div class="mx-auto " style="width: 200px;"><h1>CONTEMPORAIN</h1>
    </div>

    <p>Apparue en Europe et aux Etats-Unis après la Seconde Guerre mondiale, la danse contemporaine suit l'apparition de la danse moderne et constitue un style de danse plus libre.</p>
    <p>La danse contemporaine emprunte les techniques aux courants modernes ou classiques, les actualise ou les détourne, les métisse et crée des passerelles avec d'autres disciplines artistiques.</p>
    <p>Chaque enseignant développe son propre style, mélangeant ses touches personnelles et techniques acquises dans les autres disciplines, principalement classique et modern jazz chez Isabelle, et ouvre à un univers d'expression corporelle et d'interprétation absolue.</p>
{% endblock %}