{% extends 'users.html.twig' %}

{% block title %}Rythme Danse{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/cours.css') }}">{% endblock %}
{% block body %}

<div class="cardi mb-2 mx-auto">
  <div class="row">

        <img src="{{ asset('assets/images/contemporain.png') }}" alt="classique" class="mt-5 mx-auto ">

    <div class="col mr-5 mx-auto">
      <div class="card-body">
        <h2>Contemporain</h2>
        <p class="card-text">Apparue en Europe et aux Etats-Unis après la Seconde Guerre mondiale, la danse contemporaine suit l'apparition de la danse moderne et constitue un style de danse plus libre.</p>
        <p class="card-text">La danse contemporaine emprunte les techniques aux courants modernes ou classiques, les actualise ou les détourne, les métisse et crée des passerelles avec d'autres disciplines artistiques.</p>
        <p class="card-text">Chaque enseignant développe son propre style, mélangeant ses touches personnelles et techniques acquises dans les autres disciplines, principalement classique et modern jazz chez Isabelle, et ouvre à un univers d'expression corporelle et d'interprétation absolue.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}