{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}

{% block body %}
<style></style>


    <div class="mx-auto mt-4" style="width: 200px;">
        <h2>EVEIL CORPOREL</h2>
    </div>

    <div>
        <p>Les enfants ont d'énormes potentialités, encore faut-il qu'elles puissent s'exprimer par le biais d'un canal spécifique. L'eveil corporel répond parfaitement à cette demande d'autant plus qu'il peut être qualifié de spontané, dirigé, éducatif et ludique.</p>
        <p>Il laisse ainsi une grande liberté à l'acte pédagogique et offre l'avantage d'être à la base de nombreux apprentissages corporels qui pourront être exploités ultérieurement et ce, quel que soit l'activité physique envisagée.</p>
        <p>L'éveil pour les 4/6 ans peut être défini comme un ensemble d'activités d'éveil psychomoteur qui répond aux différents besoins de l'enfant : recherche d'autonomie, développement des capacités d'adaptation, de coopération et de socialisation, de motricité globale (marcher, courir, sauter, ramper, lancer, se tenir en équilibre..)et de coordination motrice ( se déplacer sur un support musical ou rythmique, participer à des jeux dansés...).</p>
        <p>Cette éducation corporelle se déroule dans un milieu sécurisant, au travers de situations abordées par le jeu et le plaisir, dans le respect des différentes étapes du développement de l'enfant.</p>
    </div>
{% endblock %}
