{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}

{% block body %}
    <div class="mx-auto " style="width: 200px;"><h1>FORMATION TECHNIQUE ET PHYSIQUE</h1>
    </div>

    <p>La Formation Technique et Physique appréhende les techniques sensibles, notamment celle du sol, et les requis physiques (équilibre, gainage, force...).</p>
    <p>La phase de préparation technique permet d'apprendre les mouvements et figures dans leur ensemble, leurs variantes et leurs transitions.</p>
    <p>La phase physique se centre sur les mouvements de base en tant qu'exercices. Exemple : base autour du baby freeze.
        <ul>
            <li>► Technique : Posture de base et variantes : baby freeze à 1, 2, 3 et 4 appuis, transitions avant (scorpion, tête...), transitions arrière (chair freeze, air chair, pont...), transitions bases (shoulder freeze...) transitions hautes (airbaby...).
            </li>
        
            <li>► Technique : Posture de base et variantes : baby freeze à 1, 2, 3 et 4 appuis, transitions avant (scorpion, tête...), transitions arrière (chair freeze, air chair, pont...), transitions bases (shoulder freeze...) transitions hautes (airbaby...).
            </li>

            <li>► Physique : Entrainement de balance en baby freeze, gainage sur 4, 3, 2 puis 1 appui, travail des appuis de la tête, travail du pont et des pompes.
            </li>
        </ul>
    
    

{% endblock %}