{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}

{% block body %}
    <div class="mx-auto mt-4" style="width: 200px;">
        <h2>MODERN JAZZ</h2>
    </div>

    <p>La danse jazz tire son origine des danses afro-américaines de la fin des années 1800. Mais ce n'est que dans les années 1950 qu'on voit apparaître le vocable de "MODERN JAZZ", expression née dans les studios new-yorkais de Matt Mattox et autres chorégraphes qui travaillent sur l'énergie, les rythmes syncopés, les arrêts, les silences, la dynamique et la surprise, tout en favorisant l'expression individuelle et le "feeling".</p>
    <p>Passerelle entre le vocabulaire classique et contemporain, le modern jazz allie harmonieusement les rythmes, les styles et fait autant appel à une technique exigeante qu'au sentiment le plus authentique. Décloisonnement des danses jazz et contemporaine, le modern jazz propose un travail basé sur l'expression et le ressenti.</p>
{% endblock %}