{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/cours.css') }}">{% endblock %}
{% block body %}


<div class="cardi mb-3 mx-auto">
  <div class="row">
    <div class="col mt-5">
        <img src="{{ asset('assets/images/ragga.png') }}" alt="ragga">
    </div>
    <div class="col mr-5">
      <div class="card-body">
        <h2>Ragga</h2>
        <p class="card-text">Originaire de la Jamaïque et de Porto Rico, festif, sensuel et rythmé, le ragga permet d'évacuer et de se lâcher.</p>
        <p class="card-text">Réputé comme étant la danse des îles, le ragga s'est enrichi, influencé par le hip hop, le jazz et les danses africaines telle que le Ndoombolo, danse moderne congolaise ou le Soukouss, danse basée sur des mouvements sensuels du bassin.</p>
        <p class="card-text">Le ragga est une danse de rue afro-jamaïcaine composée généralement de sons électroniques et qui peut être aussi bien pratiqué par les femmes que par les hommes.</p>
        <p class="card-text">La danse ragga dancehall se caractérise par des ondulations et des rebondissements du bassin et du torse.</p>
        <p class="card-text">Elle se marie avec la musique qui l'accompagne : ses pas, ses mouvements et les chorégraphies sont synchronisés et donnent une harmonie parfaite sur le rythme effréné de la musique Raggamuffin.</p>
      </div>
    </div>
  </div>
</div>    
{% endblock %}