{% extends 'base.html.twig' %}

{% block title %}Rythme Danse{% endblock %}

{% block body %}
    <div class="mx-auto mt-4" style="width: 200px;">
        <h2>TBC AVALANCHE</h2>
    </div>

    <p>TBC AVALANCHE est un atelier chorégraphique permettant d'intégrer la scène à l'expérience de l'association. Le but premier est de mettre en scène la diversité des élèves et des styles de danse de l'association.</p>
    <p>Les bases de travail sont l'improvisation, le battle (affrontement dansé), et l'appréhension de la plupart des styles de danse (hip-hop, ragga, contemporain, jazz, classique, salsa, oriental, expérimental, afro... ) avec une mise en scène type show contemporain/hip-hop.</p>
    <p>Intégration sur entretien, il est recommandé d'avoir minimum un an de danse et de suivre au moins un cours autre que celui-ci. Un entraînement régulier sur les bases enseignées est également conseillé.</p>
{% endblock %}